*{
    margin: 0;
    padding: 0;
}
.first{
    overflow: hidden;
    display: block;
}
.secound{
    overflow: hidden;
    display: none;
}
.main-page{
    display: none;
}
.form input{
    margin-bottom: 20px;
}
.form h2{
    font-size: 40px;
    color: rgb(226, 79, 79);
    margin-bottom: 35px;
}
.sign{
    margin-left: 45px;
}
.linke{
    padding:0!important;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.man{
    font-size: 2.1rem;
}
input{
    width:70%;
    height: 40px;
    padding: 20px;
}
img{
    width:100%;
    margin-top: 70px;
    margin-left: 11.5rem;
}
.form button{
    width: 70%; 
    height: 50px;
    border-radius: 60px;
    margin-bottom: 25px;
}
.fel{
    border: none;
}
.fel:hover{
    background-color: rgb(54, 54, 71);
}
.loginnn{
    width: 70%; 
    height: 50px;
    border-radius: 60px;
}
.thered{
    display: none;
}